body { 
    background: url(./assets/polis-bg.jpg) no-repeat center center fixed #fff; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
